config setup
        uniqueids=keep
        charondebug="ike 1, knl 1, cfg 1, net 1, esp 1, dmn 1,  mgr 1"

conn %default
        keyexchange=ikev2
        ike=aes128gcm16-sha2_256-prfsha256-ecp256-modp2048!
        esp=aes128gcm16-sha2_256-ecp256!
        fragmentation=yes
        rekey=no
        compress=yes
        dpdaction=clear
        left=%any
        leftauth=pubkey
        leftsourceip=YOUR_VPN_IP
        leftid=YOUR_VPN_IP
        leftcert=YOUR_VPN_CERT
        leftsendcert=always
        leftsubnet=0.0.0.0/0
        right=%any
        rightauth=pubkey
        rightsourceip=VPN_SUBNET
        rightdns=8.8.8.8,8.8.4.4

conn ikev2-pubkey
        auto=add
