<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadDisplayName</key>
    <string>{PROFILE_NAME}</string>
    <key>PayloadOrganization</key>
    <string>{ORGANIZATION_NAME}</string>
    <key>PayloadDescription</key>
    <string>VPN-IKEv2 configuration</string>
    <key>PayloadIdentifier</key>
    <string>{PAYLOAD_ID}</string>
    <key>PayloadUUID</key>
    <string>{PAYLOAD_UUID}</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
    <key>PayloadContent</key>
    <array>
        <dict>
            <key>PayloadDisplayName</key>
            <string>{PROFILE_NAME}</string>
            <key>PayloadDescription</key>
            <string>VPN IKEv2 configuration</string>
            <key>PayloadType</key>
            <string>com.apple.vpn.managed</string>
            <key>PayloadIdentifier</key>
            <string>com.apple.vpn.managed.fox</string>
            <key>PayloadUUID</key>
            <string>{PAYLOAD_VPN_UUID}</string>
            <key>UserDefinedName</key>
            <string>{PROFILE_NAME}</string>
            <key>VPNType</key>
            <string>IKEv2</string>
            <key>IKEv2</key>
            <dict>
                <key>RemoteAddress</key>
                <string>{SERVER_ADDR}</string>
                <key>RemoteIdentifier</key>
                <string>{SERVER_ADDR}</string>
                <key>LocalIdentifier</key>
                <string>{CLIENT_NAME_CAP}</string>
                <key>AuthenticationMethod</key>
                <string>Certificate</string>
                <key>PayloadCertificateUUID</key>
                <string>{PAYLOAD_CERT_UUID}</string>
                <key>CertificateType</key>
                <string>RSA</string>
                <key>ServerCertificateIssuerCommonName</key>
                <string>{ISSUER_NAME}</string>
                <key>EnablePFS</key>
                <integer>1</integer>
                <key>IKESecurityAssociationParameters</key>
                <dict>
                    <key>EncryptionAlgorithm</key>
                    <string>AES-128-GCM</string>
                    <key>IntegrityAlgorithm</key>
                    <string>SHA2-256</string>
                    <key>DiffieHellmanGroup</key>
                    <integer>19</integer>
                </dict>
                <key>ChildSecurityAssociationParameters</key>
                <dict>
                    <key>EncryptionAlgorithm</key>
                    <string>AES-128-GCM</string>
                    <key>IntegrityAlgorithm</key>
                    <string>SHA2-256</string>
                    <key>DiffieHellmanGroup</key>
                    <integer>19</integer>
                </dict>
                <key>OnDemandEnabled</key>
                <integer>0</integer>
            </dict>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>PayloadDisplayName</key>
            <string>{CLIENT_NAME}.p12</string>
            <key>PayloadDescription</key>
            <string>Device PKCS#12 certificate</string>
            <key>PayloadCertificateFileName</key>
            <string>{CLIENT_NAME}.p12</string>
            <key>Password</key>
            <string>{PKCS12_PASSWORD}</string>
            <key>PayloadContent</key>
            <data>
{PKCS12_DATA}
            </data>
            <key>PayloadType</key>
            <string>com.apple.security.pkcs12</string>
            <key>PayloadIdentifier</key>
            <string>com.apple.security.pkcs12.{CLIENT_NAME_LO}</string>
            <key>PayloadUUID</key>
            <string>{PAYLOAD_CERT_UUID}</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>PayloadDisplayName</key>
            <string>{ISSUER_NAME_CAP} CA</string>
            <key>PayloadDescription</key>
            <string>CA root certificate</string>
            <key>PayloadCertificateFileName</key>
            <string>ca.pem</string>
            <key>PayloadContent</key>
            <data>
{CA_CERT_DATA}
            </data>
            <key>PayloadType</key>
            <string>com.apple.security.root</string>
            <key>PayloadIdentifier</key>
            <string>com.apple.security.root.{ISSUER_NAME_LO}</string>
            <key>PayloadUUID</key>
            <string>{PAYLOAD_ROOT_CA_UUID}</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
    </array>
</dict>
</plist>
